* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Times New Roman', sans-serif;
}

#jumpMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  width: 15%;
  height: 100vh;
  background: goldenrod;
  padding: 15px 20px;
}

#jumpMenu h2 {
  font-size: 28px;
  padding: 2px;
  text-align: center;
}

#jumpMenu a {
  display: block;
  text-align: center;
  margin: 8px;
  padding: 10px;
  width: 100%
}

header {
  position: fixed;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100px;
  background: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

header p {
  font-family: Arial;
  font-size: 2rem;
  margin: 10px;
}

header nav {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

header button {
  background: blue;
  color: white;
  border: none;
  padding: 12px 50px;
  font-size: 1rem;
  margin: 50px;
}


main {
  margin-left: 15%;
  padding-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

main h1 {
  font-size: 40px;
  text-align: center;
}

#container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 80px;
  justify-content: center;
}

#container article {
  width: 300px;
}

#thanks {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(96, 179, 238);
  border: 2px solid black;
  padding: 20px;
  font-size: 1.5rem;
}